{% extends 'base.html.twig' %}

{% block title %}About Page{% endblock %}

{% block body %}



    <html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
        <link rel="stylesheet" href="main.css">

        <style type="text/css">



            * {

            }
            html, body {


                height: 100%;
                text-align: center;
            }

            body {


            }


            h1 {
                color: black;
                font-family: arial;
                font-size: 40px;
                text-align: center;
            }
            h2 {
                color: black;
                font-family: arial;
                font-size: 35px;
                text-align: center;
            }
            h3 {
                color: black;
                font-family: arial;
                font-size: 35px;
                text-align: center;
            }
            h4 {
                color: black;
                font-family: arial;
                font-size: 20px;
                text-align: left;
            }
            p {
                color: black;
                font-family: arial;
                font-size: 18px;
                text-align: left;
            }
            li {
                color: black;
                font-family: arial;
                font-size: 16px;
                text-align: left;
            }
            table, th, td {
                border: 2px solid black;
            }
            th, td {
                padding: 10px;
            }

            body{


            }
        </style>
    </head>

    <body>



            <h2>About Page</h2>
            <p> The about page of the main website the web page is a document that is suitable to act as a web resource on the World Wide Web. In order to display the best web page, an about page is needed when it is needed. This is a type of software that can retrieve other kinds of web pages from the Internet and the website.
             All The best kind of about page of the main website the web page is a document that is suitable to act as a web resource on the World Wide Web. In order to display the best web page, an about page is needed when it is needed. This is a type of software that can retrieve other kinds of web pages from the Internet and the website.
             An okay about page of the main website the web page is a document that is suitable to act as a web resource on the World Wide Web. In order to display the best web page, an about page is needed when it is needed. This is a type of software that can retrieve other kinds of web pages from the Internet and the website.

            </p>

            <h1>Coffe Review Page</h1>
            <p>Having just arrived in Dublin following a long drive it was too late for lunch & too early for dinner so we nipped into The Coffee Shop for a snack.
                I noticed it when we were driving through the narrow Wicklow streets & it looked very inviting & contemporary. It was quite busy for late afternoon but we got a table by the window & decided on something light.
            </p>














    </body>





    </html>


{% endblock %}